{% extends 'base.html' %}

{% block action %}

<button type="button" class="btn btn-success" data-mdb-ripple-init data-mdb-modal-init
    data-mdb-target="#add-product">Mahsulot qo'shish</button>

{% endblock action %}



{% block content %}

<div class="container mt-3">

    <h2 class="mb-3">Taomlar</h2>

    <div class="row row-cols-3 g-3">

        {% for food in foods %}

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <img src="{{ food.image.url }}" alt="" height="350" class="w-100 mb-3 rounded"
                        style="object-fit: cover;">

                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h4 class="card-title mb-0">{{ food.title }}</h4>
                        <h5 class="price fw-bold mb-0">{{ food.price }} so'm</h5>
                    </div>
                    <div class="d-flex gap-3">

                        <button class="btn btn-success flex-grow-1 py-3" data-mdb-ripple-init data-mdb-modal-init
                            data-mdb-target="#order-product"
                            onclick="document.getElementById('id_food').value = {{ food.pk }};">Buyurtma berish</button>

                        <button class="btn btn-warning py-3 edit-button" data-mdb-ripple-init data-mdb-modal-init
                            data-mdb-target="#update-product" data-product-id="{{ food.pk }}"
                            data-product-name="{{ food.title }}" data-product-price="{{ food.price }}">

                            <i class="fa fa-pen"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>



<div class="modal fade" id="add-product" tabindex="-1" aria-labelledby="add-productLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="add-productLabel">Yangi mahsulot qo'shish</h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="form-type" value="add-product">

                    {{ form.as_p }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-mdb-ripple-init
                        data-mdb-dismiss="modal">Bekor qilish</button>
                    <button type="submit" class="btn btn-success" data-mdb-ripple-init>Yuborish</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="order-product" tabindex="-1" aria-labelledby="order-productLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="order-productLabel">Buyurt berish</h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="form-type" value="order-product">

                    {{ order_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-mdb-ripple-init
                        data-mdb-dismiss="modal">Bekor qilish</button>
                    <button type="submit" class="btn btn-success" data-mdb-ripple-init>Yuborish</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="update-product" tabindex="-1" aria-labelledby="update-productLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="update-productLabel">Tahrirash</h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="form-type" value="update-product">
                    <input type="hidden" name="product-id" value="" id="product-id">

                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-mdb-ripple-init
                        data-mdb-dismiss="modal">Bekor qilish</button>
                    <button type="submit" class="btn btn-warning" data-mdb-ripple-init>Yuborish</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    let nameInput = document.querySelector('#update-product #id_title');
    let priceInput = document.querySelector('#update-product #id_price');
    let idInput = document.querySelector('#update-product #product-id');

    console.log(idInput);
    console.log(nameInput);
    console.log(priceInput);

    document.querySelectorAll('.edit-button').forEach(el => {
        el.addEventListener('click', (e) => {
            let target = el;

            let id = el.getAttribute('data-product-id');
            let name = el.getAttribute('data-product-name');
            let price = el.getAttribute('data-product-price');

            console.log(id, name, price);

            idInput.value = id;
            nameInput.value = name;
            priceInput.value = price;


        });
    });

</script>

{% endblock content %}